@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ChemTrack</h1>
    <br />
    <div class="container" id="main_menu">
        <div class="row gx-5">
            
            <div class="col-sm p-5">
                <a asp-page="/FleetManagement">
                <div class="p-5 border border-primary" id="menu_item">Fleet Management</div>
                </a>
            </div>
            <div class="col-sm p-5">
                <div class="p-5 border border-primary" id="menu_item">Order Management</div>
            </div>
            <div class="col-sm  p-5">
                <div class="p-5 border border-primary" id="menu_item">Product Management</div>
            </div>
            
        </div>
        <br/>
        <div class="row gx-5">
          
            <div class="col-sm  p-5">
                <div class="p-5 border border-primary" id="menu_item">Customer Records</div>
            </div>
            <div class="col-sm  p-5">
                <div class="p-5 border border-primary" id="menu_item">Shipping</div>
            </div>
            <div class="col-sm  p-5">
                <div class="p-5 border border-primary" id="menu_item">Reports</div>
            </div>
          
        </div>

    </div>

</div>
